body {
    font-family: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

/* -------------------------------------- Navbar ------------------------------------*/

nav {
    background-color: lightgrey;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Logo styles */
.logo {
    flex: 1;
}

.logo img {
    width: 100px;
    height: auto;
}

/*----------------------- Landing Page -------------------*/

.home-content-container {
    position: absolute;
    top: 150px;
    left: -3%;
}

.home-content {
    padding: 0 15rem;
}

.home-title {
    font-size: 5rem;
}

.home-description {
    font-size: 2rem;
    padding: 0 1rem;
}

.home-button {
    padding-left: 1rem;
}