body {
    font-family: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

/* -------------------------------------- Navbar ------------------------------------*/

nav {
    background-color: lightgrey;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Logo styles */
.logo {
    flex: 1;
}

.logo img {
    width: 100px;
    height: auto;
}

/*----------------------- Landing Page -------------------*/

.home-content-container {
    padding: 2rem;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-content {
    padding: 0 12rem;
    margin-top: 12rem;
}

.home-title {
    font-size: 5rem;
    color: #fff;
}

.home-description {
    font-size: 2rem;
    padding: 0 1rem;
    color: #fff;
}

.home-button {
    padding-left: 1rem;
}

/* Media query for tablets */
@media (max-width: 1200px) {
    .home-content-container {
        top: 100px;
    }

    .home-content {
        padding: 0 6rem;
    }

    .home-title {
        font-size: 4rem;
    }

    .home-description {
        font-size: 1.75rem;
    }
}

/* Media query for larger screens */
@media (min-width: 1400px) {
    .home-content {
        padding: 0 12rem;
    }

    .home-title {
        font-size: 4rem;
    }

    .home-description {
        font-size: 2.5rem;
    }
}

/* Media query for mobile devices */
@media (max-width: 576px) {
    .home-content-container {
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .home-content {
        padding: 0 1rem;
    }

    .home-title {
        font-size: 2rem;
    }

    .home-description {
        font-size: 1rem;
    }
}



/* ---------------- About Us ----------------------*/

.title {
    text-align: center;
    margin-top: 2.5rem;
}

.subtitle {
    text-align: center;
    margin-top: 1rem;
}

.about-container {
    margin-top: 3.5rem;
}

.cards {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 1rem auto;
}

@media (min-width: 768px) {

    /* Tablet and larger screens */
    .cards {
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        margin: 0;
        width: 18rem;
    }
}

@media (min-width: 992px) {

    /* Larger screens */
    .title {
        text-align: center;
        margin-top: 1.5rem;
    }

    .subtitle {
        text-align: center;
        margin-top: 1rem;
    }
}

/* ---------------- Services ----------------------*/

.title {
    text-align: center;
    margin-top: 2.5rem;
}

.subtitle {
    text-align: center;
    margin-top: 1rem;
}

.services-container {
    padding: 0 100px 0 100px;
}
article {
    display: flex;
    height: 300px;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 50px -10px #9a7289;
  }
  
  .section {
    width: 70%;
    overflow: hidden;
    padding: 2% 5% 0;
    position: relative;
  }
  
  
  @keyframes move {
    0% {
      transform: translate3d(0px, 0px, 0px);
    }
    100% {
      transform: translate3d(-1250px, 0px, 0px);
    }
  }
  .teaser {
    display: flex;
    margin: 0 0 3vw 0;
    animation: move 20s forwards linear;
  }
  .teaser figure {
    overflow: hidden;
    margin: 0;
    width: 250px;
    min-width: 250px;
    padding: 0 30px 0 0;
    position: relative;
  }
  .teaser img {
    width: 220px;
    height: 180px;
    object-fit: cover;
  }
  

/* ---------------- Testimonials ----------------------*/

.title {
    text-align: center;
    margin-top: 2.5rem;
}

.testimonial-slide {
    display: none;
  }
  
  
  .testimonial-content {
    text-align: center;
    padding: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .rating {
    color: gold;
    font-size: 24px;
  }
 
  /*--------------------- FAQs -------------------------*/
  
  @media (min-width: 576px) {

    /* Tablet and larger screens */
    .faqs{
        padding: 0 120px 0 120px;
    }
}

@media (min-width: 992px) {

    /* Larger screens */
    .faqs{
        padding: 0 140px 0 140px;
    }
}

  
  

